button{
    background-color: #00ADB5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius:1px;
    font-weight: 700;
    display: block;
    margin-top: 40px;

    margin-left: 5%;
}